<template name="login">
	<div class="login-body">

    <div class="container">

      <form id="login-form" class="form-signin">
        <h2 class="form-signin-heading">sign in now</h2>
        <div class="login-wrap">
            <div class="user-login-info">
                <input type="text" class="form-control" name="username" placeholder="User ID" autofocus>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>

            <div class="registration">
                <span>Don't have an account yet?</span>
                <a class="" href="registration.html">
                    Create an account
                </a>
            </div>

        </div>
      </form>

    </div>
    </div>
</template>