@accent-1-color: #44004C;
@accent-1-text-color: white;
@accent-2-color: #32323a;
@accent-2-text-color: #aeb2b7;
@accent-3-color: #f1f2f7;
@accent-3-text-color: #767676;


@header-color: white;
@header-width: 240px;
@header-height: 80px;